:root {
  --white: #ffffff;
  --accent-600: #4863f7;
  --accent-500: #7878d7;
  --alert-600: #ff5c5c;
  --gray-900: #0d0d0d;
  --gray-800: #111111;
  --gray-700: #1a1a1a;
  --gray-200: #424242;
  --gray-100: #737373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray-100);
}

body,
input,
button {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--gray-900);
  color: var(--white);
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* ---------- MAIN ---------- */
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 62px 124px;
  gap: 32px;
  overflow-y: auto;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
}

/* ---------- BUTTONS ---------- */
.btn {
  gap: 10px;
  height: 44px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline {
  background: transparent;
  border: 0.5px solid var(--gray-200);
  color: var(--white);
  padding: 0 16px;
}

.btn-outline:hover {
  background: var(--gray-200);
}

.btn-primary {
  background: var(--accent-600);
  border: 1px solid var(--accent-500);
  color: var(--white);
  padding: 0 24px;
}

.btn-primary:hover {
  opacity: 0.8;
}

.w-150 {
  width: 150px;
  justify-content: center;
}

/* ---------- TEXT AREAS ---------- */
.prompt-title {
  font-weight: 600;
  font-size: 32px;
  outline: none;
}

.prompt-content {
  font-size: 16px;
  color: var(--white);
  outline: none;
  line-height: 32px;
}

.editable-wrapper {
  position: relative;
}

.editable-wrapper::before {
  content: attr(data-placeholder);
  position: absolute;
  color: var(--gray-200);
  pointer-events: none;
  opacity: 1;
}

.editable-wrapper:not(.is-empty)::before {
  opacity: 0;
}

/* ---------- ICONS ---------- */
.icon {
  width: 20px;
  height: 20px;
}

.icon-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ---------- OPEN BUTTON ---------- */
.open-toggle {
  position: none;
  top: 24px;
  z-index: 1200;
  background: var(--gray-800);
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

/* ---------- SIDEBAR ---------- */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 32px;
  background-color: var(--gray-800);
  border-right: 0.5px solid var(--gray-700);
  transition: transform 0.3s ease, opacity 0.3s;
  z-index: 1000;
}

.sidebar.collapsed {
  transform: translateX(-100%);
  opacity: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

/* ---------- SEARCH ---------- */
.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-700);
  gap: 20px;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.search-input {
  background: transparent;
  height: 44px;
  width: 100%;
  border: 1px solid var(--gray-200);
  outline: none;
  color: var(--white);
  font-size: 16px;
  border-radius: 6px;
  padding-left: 48px;
}

.search-input::placeholder {
  color: var(--gray-200);
}

/* ---------- PROMPT LIST ---------- */
.prompt-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  margin-top: 20px;
}

.prompt-item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  min-width: 0;
}

.prompt-item-title {
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prompt-item-description {
  font-size: 12px;
  color: var(--gray-100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background 0.2s;
  height: 32px;
  width: 32px;
}

.btn-icon:hover {
  background: var(--alert-600);
}

/* Oculta o bot達o de abrir quando a sidebar estiver aberta */
.sidebar.open {
  display: none;
}

/* Esconde bot達o de remover por padr達o */
.prompt-item .btn-icon {
  transform: translateX(0);
}

/* Mostra bot達o de remover ao passar o mouse sobre o item */
.prompt-item:hover .btn-icon {
  display: flex;
}

.logo {
  height: 24px;
}

@media (max-width: 950px) {
  .open-toggle {
    display: block;
    z-index: 0;
    top: 38px;
  }
}
